<button mat-raised-button 
    color="primary" 
    style="margin-right: 10px; margin-bottom: 10px;"
    disabled
    disabledInteractive
    matTooltip="This is a disabled button">
    Disabled button allowing interactivity
</button>

<button mat-raised-button 
    
    color="primary" 
    disabled
    style="margin-bottom: 10px;"
    matTooltip="This is a disabled button">
    Default disabled button
</button>

<div class="basic-button" style="display: flex; gap: 10px; margin-top: 10px;">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
</div>

<div class="raised-button" style="display: flex; gap: 10px; margin-top: 10px;">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button disabled>Disabled</button>
    <button mat-raised-button color="warn">Warn</button>
</div>




