body{
  background-color: rgb(56, 1, 56);
}
.main-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-container > div{
  background-color: white;
  padding: 100px;
  margin: 8px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}


