<div class="container">
    <div class="new-hero">
        <h2 style="margin: 10px;">Add a new hero</h2>

        <div class="add-hero">
            <mat-form-field class="example-form-field" style="margin: 10px;">
                <mat-label>Hero Name</mat-label>
                <input matInput type="text" #heroName />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="add(heroName.value)">Add hero</button>
        </div>

    </div>

    <div class="all-heroes">
        <h2 style="margin: 10px;">My Heroes</h2>

        <div class="heroes-item">
            @for(hero of heroes;track hero.id){

            @if(hero.isActive){

            <mat-card>
                <mat-card-header>
                    <mat-card-title routerLink="/detail/{{hero.id}}"
                        style="cursor: pointer;">{{hero.name}}</mat-card-title>
                    <mat-card-subtitle>Id: {{hero.id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-raised-button (click)="delete(hero)" color="primary">Delete</button>

                </mat-card-actions>
            </mat-card>



            }}

        </div>
    </div>



</div>