
 
  


  .heroes-item{
    margin: 10px;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
  }

  mat-card:hover{
    background-color: rgb(170, 170, 238);
    cursor: pointer;
  }  

  .add-hero {
    display: grid;
    grid-template-columns: 20% 15%;
  
    
  }