body{
  background-color: rgb(56, 1, 56);
}


.box-container-1{

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-container-1 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.box-container-2{

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.box-container-2 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.box-container-3{

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-container-3 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.box-container-4{

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-container-4 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.box-container-5{

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-container-5 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.main-container-6{
  height: 100vh;
 margin-top: 10px;
}

.box-container-6{
  height: 100%;
  margin: 20px;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.box-container-6 > div{
  
  background-color: white;
  padding: 100px;
  margin: 40px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.main-container-7{
  height: 100vh;
  margin-top: 100px;
}

.box-container-7{
  height: 100%;
  margin: 20px;
  border: 2px solid red;
  display: flex;
  align-items: flex-end;
}

.box-container-7 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}

.main-container-8{
  height: 100vh;
  margin-top: 100px;
}

.box-container-8{
  height: 100%;
  margin: 20px;
  border: 2px solid red;
  display: flex;
  align-items: center;
}

.box-container-8 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}
.main-container-9{
  height: 100vh;
  margin-top: 100px;
}

.box-container-9{
  height: 100%;
  margin: 20px;
  border: 2px solid red;
  display: flex;
  align-items: baseline;
}

.box-container-9 > div{

  background-color: white;
  padding: 100px;
  margin: 10px;
  background-color: rgb(241, 118, 2);
  border-radius: 10px;
  
}


